allow-builds.esbuild=true
allow-builds.pnpm=true
minimum-release-age.exclude[]=@pnpm/exe.android-arm64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.android-x64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.darwin-arm64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.darwin-x64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.freebsd-x64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.linux-arm64-musl@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.linux-arm64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.linux-ppc64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.linux-riscv64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.linux-s390x@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.linux-x64-musl@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.linux-x64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.win32-arm64@12.4.2
minimum-release-age.exclude[]=@pnpm/exe.win32-x64@12.4.2
minimum-release-age.exclude[]=pnpm@12.4.2
minimum-release-age.exclude[]=@auth0/auth0-react@2.26.0
minimum-release-age.exclude[]=is-core-module@2.17.0
minimum-release-age.exclude[]=node-releases@2.0.56
minimum-release-age.exclude[]=type-fest@5.10.0
minimum-release-age.exclude[]=typed-array-byte-offset@1.0.5
minimum-release-age.exclude[]=which-typed-array@1.1.23
